.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */ /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;

  align-items: center;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 50%;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  height: 50%;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  max-width: 70%;
  height: auto;
  border: none;
  cursor: pointer;
}

.modal-content {
  /* Agrega estilos según sea necesario para el contenido del modal */
}
