.wrap {
  padding: 10px 0px 18px 0px;
  display: grid;
  justify-content: space-around;
  margin-top: 60px;

  grid-template-columns: auto;
  gap: 0.5rem;
  width: 100%;
}
@media only screen and (max-width: 570px) {
  .wrap {
    grid-template-columns: auto;
  }
}
